/.Module.symvers.cmd
/.anomaly_detector.ko.cmd
/.anomaly_detector.mod.cmd
/.anomaly_detector.mod.o.cmd
/.anomaly_detector.o.cmd
/.modules.order.cmd
/Module.symvers
/anomaly_detector.ko
/anomaly_detector.mod
/anomaly_detector.mod.c
/anomaly_detector.mod.o
/anomaly_detector.o
/modules.order
/.vscode